<div ng-controller="mainCtrl as ctrl">
    <md-content class="md-padding" layout-xs="column" layout="column" layout-align="center">
        <md-autocomplete
                md-no-cache="false"
                md-selected-item="ctrl.selectedItem"
                md-search-text="ctrl.searchText"
                md-items="item in ctrl.query(ctrl.searchText)"
                md-item-text="item.mainText"
                md-min-length="1"
                md-selected-item-change="ctrl.evaluateSearchSelection(item)"
                placeholder="Search for Artists or comics!">
            <md-item-template>
                <span md-highlight-text="item.resultType" md-highlight-flags="^i">{{item.resultType}}</span>
                <md-icon ng-if="item.resultType === 'USER'" class="material-icons">account_circle</md-icon>
                <md-icon ng-if="item.resultType === 'COMIC'" class="material-icons">view_carousel</md-icon>
                <span>{{item.mainText}}</span>
            </md-item-template>
            <md-not-found>
                No artists or comics matching "{{ctrl.searchText}}" were found.
            </md-not-found>
        </md-autocomplete>
        <div flex-xs flex-gt-xs="50" layout="row" layout-align="center center">
            <md-button ng-click="prev()" class="md-icon-button" aria-label="arrow_back">
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
            <md-card style="max-width: 1000px;" align="center">
                <img ng-src="{{currentComic.THUMBNAIL}}" alt="{{currentComic.TITLE}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{currentComic.TITLE}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="column">
                    <div layout="row"  layout-align="start center" >
                        <md-button ng-click="goToProfile()" id="profilebutton">
                            <div layout="row">
                                <img id="artistpic" ng-src="{{artist.PROFILE_PIC_URL}}" width="40px" height="40px"/>
                                <label style="padding-left: 5px">{{artist.HANDLE}}</label>
                            </div>
                        </md-button>
                        <md-button ng-click="upVoteComic()" class="md-icon-button" aria-label="thumb_up">
                            <md-icon class="material-icons">thumb_up</md-icon>
                        </md-button>
                        {{comic.SCORE}}
                        <md-button ng-click="downVoteComic()" class="md-icon-button" aria-label="thumb_down">
                            <md-icon class="material-icons">thumb_down</md-icon>
                        </md-button>
                    </div>
                    <div layout="row">
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="Share">
                            <md-icon class="material-icons">share</md-icon>
                        </md-button>
                        <md-button ng-click="" class="md-icon-button" aria-label="Share">
                            <md-icon class="material-icons">{{favIcon}}</md-icon>
                        </md-button>
                    </md-card-icon-actions>
                    </div>
                </md-card-actions>
                <!--<md-card-content>-->
                    <!--<p>-->
                        <!--Phyllis Peng starts her career in Art here on Atomic Comics.-->
                        <!--The enterprise online comics creator tool everyone's talking about is where Phyllis got started.-->
                        <!--On here you can too!-->
                    <!--</p>-->
                <!--</md-card-content>-->
            </md-card>
            <md-button ng-click="next()" class="md-icon-button" aria-label="arrow_forward">
                <md-icon class="material-icons">arrow_forward</md-icon>
            </md-button>
        </div>
        <div align="center">
            <md-card style="max-width: 500px" ng-show="userIsLoggedIn">
                <md-card-content>
                    <form name="commentForm">
                        <md-input-container class="md-block">
                            <label>Add a comment</label>
                            <textarea ng-model="newComment"></textarea>
                        </md-input-container>
                    </form>
                </md-card-content>
                <md-card-actions layout layout-align="center center">
                    <md-button id="submitCommentButton">Submit</md-button>
                </md-card-actions>
            </md-card>
            <div ng-repeat="comment in commentList">
                <md-card style="max-width: 500px" ng-show="userIsLoggedIn">
                    <md-card-title>
                        {{comment.COMMENTOR_GMAIL}} - {{comment.DATE_POSTED.toLocaleString()}}
                    </md-card-title>
                    <md-card-content>
                        {{comment.COMMENT}}
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button ng-click="upVoteComment(comment)" class="md-icon-button" aria-label="thumb_up">
                            <md-icon class="material-icons">thumb_up</md-icon>
                        </md-button>
                        {{comment.SCORE}}
                        <md-button ng-click="downVoteComment(comment)" class="md-icon-button" aria-label="thumb_down">
                            <md-icon class="material-icons">thumb_down</md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </md-content>


</div>