<div ng-controller="mainCtrl">
    <md-content class="md-padding" layout-xs="column" layout="column" layout-align="center">
        <div flex-xs flex-gt-xs="50" layout="row" layout-align="center center">
            <md-button ng-click="prev()" class="md-icon-button" aria-label="arrow_back">
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
            <md-card style="max-width: 1000px;" align="center">
                <div ng-bind-html="currentComicSvg">
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{currentComic.TITLE}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <md-icon class="material-icons">favorite_border</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                            <md-icon class="material-icons">share</md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>
                <md-card-content>
                    <p>
                        Phyllis Peng starts her career in Art here on Atomic Comics.
                        The enterprise online comics creator tool everyone's talking about is where Phyllis got started.
                        On here you can too!
                    </p>
                </md-card-content>
            </md-card>
            <md-button ng-click="next()" class="md-icon-button" aria-label="arrow_forward">
                <md-icon class="material-icons">arrow_forward</md-icon>
            </md-button>
        </div>
        <div align="center">
            <md-card style="max-width: 500px" ng-show="userIsLoggedIn">
                <md-card-content>
                    <form name="commentForm">
                        <md-input-container class="md-block">
                            <label>Add a comment.</label>
                            <textarea ng-model="newComment"></textarea>
                        </md-input-container>
                    </form>
                </md-card-content>
                <md-card-actions layout layout-align="center center">
                    <md-button id="submitCommentButton">Submit</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>


</div>