<div layout="column" layout-fill ng-controller="navCtrl">

  <md-toolbar layout="row" md-scroll-shrink ng-if="true">
    <div id="titleBar" class="md-toolbar-tools">
      <span>{{title}}</span>
      <span flex></span>
      <md-button class="md-raised" href="{{ loginUrl }}">
        Login / SignUp
      </md-button>
    </div>
  </md-toolbar>
  <div layout="column" layout-fill>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools nav-points">
        <a ng-href="#/main" flex><span>Read</span></a>
        <a ng-href="#/create" flex><span>Create</span></a>
        <a ng-href="#/profile" flex><span>Profile</span></a>
      </div>
    </md-toolbar>
  </div>
</div>

