
<div ng-controller="profileCtrl">
    <md-button ng-href="#/settings" class="md-icon-button" aria-label="settings">
        <md-icon class="material-icons">settings</md-icon>
    </md-button>

    <h1>{{ user.handle }}</h1>

    <p>{{status}}</p>

    <div>
       <div layout="row" layout-padding  layout-align="center center">
        <div >
            <img src="assets/ac_title.png" height="300" width="300" layout-padding>
        </div>



        <div>
            <div layout="row"  layout-padding>
              <div>
                  <h2>Title</h2>
                  <label>Atomic Artist</label>
              </div>
               <div>
                   <h2>Email</h2>
                   <label>{{user.GMAIL}}</label>
               </div>
                </div>
                <div layout="row" layout-padding>
                    <div>
                        <div layout="row" >
                        <img src = "assets/bunny.png" alt="cake" height="35.7" width="33" layout-padding>
                        <h2>Artist Handle</h2>
                        </div>
                        <label>{{user.HANDLE}}</label>
                    </div>
                    <div>
                        <div layout="row" >
                            <img src = "assets/cake.png" alt="cake" height="35.7" width="33" layout-padding>
                            <h2> Birthday</h2>
                        </div>

                        <label>{{user.BIRTHDAY}}</label>
                    </div>
                </div>
                <div layout="row" layout-padding>
                    <div>
                        <h2>First Name</h2>
                        <label> {{user.FIRSTNAME}} </label>
                    </div>
                    <div>
                        <h2>Last Name</h2>
                        <label> {{user.LASTNAME}} </label>
                    </div>
                </div>
                <div layout ="row" layout-padding>
                    <div>
                        <h2>Biography</h2>
                        <label>{{user.BIO}}</label>
                    </div>
                </div>

        </div>
       </div>

    </div>

</div>