<div ng-controller="profileCtrl">

    <h1>{{ user.handle }}</h1>

    <p>{{status}}</p>

    <div>
        <div layout="row" layout-padding layout-align="center center">
            <div layout="column">
                <img src="{{user.PROFILE_PIC_URL}}" height="300" width="300" layout-padding>
                <div layout="row" layout-align="end center" ng-hide="!me">
                    <md-button ng-href="#/settings" class="md-fab md-mini" aria-label="settings">
                        <md-tooltip> Edit Profile</md-tooltip>
                        <md-icon class="material-icons">settings</md-icon>
                    </md-button>
                    <form id="profilePicForm" action="{{uploadUrl}}" method="post" class="ng-hide"
                          enctype="multipart/form-data">
                        <input id="submissionType" type="hidden" name="SUBMISSION_TYPE" class="ng-hide">
                        <input id="redirectAddress" type="hidden" name="REDIRECT_URL" class="ng-hide">
                        <input id="profilePic" type="file" name="FILES" class="ng-hide">
                    </form>
                    <md-button class="md-fab md-mini" ng-click="upload()" aria-label="upload">
                        <md-tooltip> Upload</md-tooltip>
                        <md-icon class="material-icons">file_upload</md-icon>
                    </md-button>
                    <p>{{msg}}</p>
                </div>
                <div layout="row" layout-align="end center" ng-hide="me">
                    <md-button ng-click="subscribe()" class="md-raised md-primary" style="font-family: Bangers, sans-serif">
                        {{subText}}
                    </md-button>
                </div>
            </div>


            <div>
                <div layout="row" layout-padding>
                    <div>
                        <h2>Title</h2>
                        <label>Atomic Artist</label>
                    </div>
                    <div ng-hide="!me">
                        <h2>Email</h2>
                        <label>{{user.GMAIL}}</label>
                    </div>
                </div>
                <div layout="row" layout-padding>
                    <div>
                        <div layout="row">
                            <img src="img/bunny.png" alt="cake" height="35.7" width="33" layout-padding>
                            <h2>Artist Handle</h2>
                        </div>
                        <label>{{user.HANDLE}}</label>
                    </div>
                    <div>
                        <div layout="row">
                            <img src="img/cake.png" alt="cake" height="35.7" width="33" layout-padding>
                            <h2> Birthday</h2>
                        </div>

                        <label>{{user.BIRTHDAY.toDateString()}}</label>
                    </div>
                </div>
                <div layout="row" layout-padding>
                    <div>
                        <h2>First Name</h2>
                        <label> {{user.FIRSTNAME}} </label>
                    </div>
                    <div>
                        <h2>Last Name</h2>
                        <label> {{user.LASTNAME}} </label>
                    </div>
                </div>
                <div layout="row" layout-padding>
                    <div>
                        <h2>Biography</h2>
                        <label>{{user.BIO}}</label>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div id="gallerybanner">
        Gallery
    </div>
<div layout="column" layout-align="center center" style="padding-top:20px">

    <div ng-repeat="usercomic in comics"  >
        <div layout="column" layout-align="center center">
        <img id="mycomic" ng-src="{{usercomic.THUMBNAIL}}" width="70%" height="70%"/>
        <label id="comiclabel" style="alignment: center">{{usercomic.TITLE}}</label>
        </div>
    </div>

</div>
    <div ng-repeat="sub in subs">
        <img ng-src="{{sub.THUMBNAIL}}" width="100px" height="100px"/>
        <label>{{sub.HANDLE}}</label>
    </div>
</div>