<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>User Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <form name="userForm">
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Artist Handle</label>
                                <input ng-model="user.handle">
                            </md-input-container>
                            <md-datepicker ng-model="user.birthday" md-placeholder="Birthday">
                            </md-datepicker>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input ng-model="user.firstName">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input ng-model="user.lastName">
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Biography</label>
                            <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </form>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer(true, user)">
                Confirm
            </md-button>
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>