@import url(https://fonts.googleapis.com/css?family=Bangers);

nav {
    font-family: Bangers, sans-serif;
}

#settings {
    padding: 5%;
}

#titleBar {
    background-image: url("img/banner_red.png");
}

.nav-points {
    font-size: 1.5em;
}

.md-button.md-fab.md-mini {
    background: #ab2323;
}

#controls {
    padding-top: 10px;
}

#theCanvas {
    border: 5px #ab2323 ridge;
    cursor: url(img/brush_sm.png), auto;
}

#colors {
    padding-top: -20px;
}

#linesize {
    color: #ab2323;
}

#pickedcolor {
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: 60px;

}

#colorpicker {
    background-image: url("img/colorpicker.png");

    padding-right: 40px;
    padding-bottom: 20px;
}

#geometry {
    padding-left: 40px;
}

.team > img {
    border-radius: 50%;
    padding: 30px;
    margin-top: 100px;
}

#artistpic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#newcomicdiv{
    padding-top: 20px;
    font-family: Bangers, sans-serif;
}

#newcomic_button{
    background-color: #ab2323;
    font-family: Bangers, sans-serif;
}

#profilebutton{
    background-image:url("img/profile1.png") ;
    background-size:auto;
    background-repeat: repeat-x;
    font-family:  Bangers;
    font-size: 20px;
}
